/* small desktops */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
}

/* Tabs in landscape */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 60px 0;
  }

  .long-copy {
    width: 80%;
    margin-left: 10%;
  }

  .steps-box {
    margin-top: 10px;
  }

  .steps-box:last-child {
    margin-top: 10px;
  }

  .work-steps {
    margin-bottom: 40px;
  }

  .work-steps:last-of-type {
    margin-bottom: 60px;
  }

  .app-screen {
    width: 50%;
  }

  .icon-small {
    width: 17px;
    margin-right: 5px;
  }
  .city-feature {
    font-size: 90%;
  }

  .plan-box {
    width: 100%;
    margin-left: 0%;
  }

  .plan-price {
    font-size: 250%;
  }

  .contact-form {
    width: 80%;
  }

  .hero-text-box h3 {
    font-size: 90%;
    padding-right: 250px;
  }
}

/* Tabs */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  section {
    padding: 30px 0;
  }

  .hero-text-box h3 {
    font-size: 90%;
    padding-right: 80px;
  }

  .row,
  .hero-text-box {
    padding: 0 4%;
  }

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

  .main-nav {
    display: none;
  }

  .mobile-nav-icon {
    display: inline-block;
  }

  .ion-navicon-round {
    color: white;
  }

  .main-nav {
    float: left;
    margin-top: 30px;
    margin-left: 25px;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }

  .sticky .main-nav {
    margin-top: 10px;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0;
  }

  .sticky .mobile-nav-icon {
    margin-top: 10px;
  }

  .sticky .ion-navicon-round {
    color: black;
  }

  h1 {
    font-size: 100%;
  }

  h2 {
    font-size: 150%;
  }

  .long-copy {
    width: 100%;
    margin-left: 0%;
  }

  .works-step div {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-right: 15px;
    font-size: 120%;
  }

  .steps-box:first-child {
    text-align: center;
  }

  .app-screen {
    width: 40%;
  }

  .work-step {
    margin-bottom: 20px;
  }

  .work-step:last-of-type {
    margin-bottom: 20px;
  }

  .footer-nav {
    display: none;
  }

  .social-links {
    width: 100%;
    text-align: center;
  }

  .hero-text-box {
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contact-form {
    width: 100%;
  }

  .section-form {
    text-align: center;
  }

  /* .newsletter {
    display: inline-grid;
    grid-column-gap: 50px;
  } */

  .n1 {
    float: left;
    width: 50%;
  }

  /* Clear floats after the columns */
  .newsletter :after {
    content: "";
    display: table;
    clear: both;
  }

  .n1 {
    width: 50%;
    margin: 0;
    padding-bottom: 13px;
  }

  .n2 {
    padding-top: 8px;
    padding-bottom: 10px;
  }
}

/* For phones */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }

  .logo {
    height: 150px;
    width: auto;
    float: left;
    margin-top: 10px;
  }
  .main-nav {
    float: left;
    margin-top: 30px;
    margin-left: 0;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 7px 0;
    font-size: 90%;
  }
}

@media only screen and (max-width: 330px) {
  .logo {
    height: 110px;
  }
}
