* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: #555;
  font-family: "Lato", "Arial", "sans-serif";
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Extras */ /*---------------------------------- Extra----------------------------------------- */

/* body::-webkit-scrollbar {
  display: none;
} */

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e67e22;
  /* box-shadow: none; */
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e67e22;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f0550d;
}

/*---------------------------------- Extra----------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto 0 auto;
}

section {
  padding: 80px 0;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(assets/home-3.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 100%;
  margin-bottom: 15px;
}

.hero-text-box h3 {
  font-size: medium;
  font-family: "Lato", "Arial", "sans-serif";
  color: rgb(240, 220, 220);
  text-transform: none;
  padding-right: 500px;
  font-style: oblique;
}

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
  color: white;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid white;
  color: white;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"] {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

input[type="submit"] {
  background-color: #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: white;
}

.logo {
  height: 200px;
  width: auto;
  float: left;
  margin-top: 0px;
}

.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.ion-navicon-round {
  font-size: 200%;
  color: white;
}

/* -------------------------------sticky----------------- */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: rgba(255, 251, 251, 0.979); */
  background-color: #f1efed;
  box-shadow: 0 2px 2px #fefefe;
  z-index: 999;
}

.sticky .main-nav {
  margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0;
  color: #555;
}

.sticky .logo {
  display: none;
}

.sticky .logo-black {
  display: block;
}

.long-copy {
  line-height: 145%;
  /* width: 70%; */
  margin-left: 3%;
}

.box {
  padding: 2%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.section-meals {
  padding: 0;
}

.meal-photo img:hover {
  opacity: 1;
  transform: scale(1.031);
}

.section-features {
  background-color: rgba(255, 251, 251, 0.979);
}

.section-meals h2 {
  padding-top: 50px;
}

.city-feature {
  margin-bottom: 5px;
}

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
}

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.3s, color 0.3s;
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.section-cities {
  background-color: rgba(255, 251, 251, 0.979);
}

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(assets/bg.jpg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201c";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

input[type="submit"] {
  cursor: pointer;
}

*:focus {
  outline: none;
}

footer {
  background-color: #332;
  padding: 50px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: rgb(175, 172, 172);
  transition: color 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: white;
}

.p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}

.p:hover {
  color: white;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.github,
.gm,
.ig,
.lin {
  transition: color 0.3s;
}

.github:hover {
  color: white;
}

.gm:hover {
  color: white;
}
.ig:hover {
  color: white;
}
.lin:hover {
  color: white;
}

footer p {
  cursor: context-menu;
}

.section-form {
  background-color: rgba(255, 251, 251, 0.979);
}

/*-------------------- animations---------- */
.js--wp-1,
.js--wp-2 {
  opacity: 0;
}

.js--wp-1.animated,
.js--wp-2.animated {
  opacity: 1;
}
